body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #FFFCF7;
    color: #FAF0DF;
    font-family: 'Barlow Condensed', sans-serif;
    overflow-x: hidden;
}

 nav {
    padding: 1vmin 0;
    margin: 0;
    width: 100%;
} 

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
  }

nav li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #F2B950;
    font-size: 3vmin;
  }

  header {
    padding: 2vmin;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vmin;
    color: #401910;
}

footer a {
    color: #401910;
}

h2 {
    font-size: 4vmin;
    color: #F2B950;
}

h3 {
    font-size: 3vmin;
    color: #F2B950;
}

h4 {
    font-style: italic;
    font-size: 2.5vmin;
    color: #FAF0DF;
  }

p {
    font-size: 3vmin;
}

hr {
    border: 1px solid #0D0D0D;
}

#profile-img {
    border-radius: 100%;
    border: solid #401910 5px;
    height: 25vmin;
}

#logo {
    height: 30vmin;
}

#logo-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#about {
    background-image: linear-gradient(#3F733D, #2e532c);
    padding: 10vmin;
    margin-top: 3vmin;
}

#about ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

#about li img {
    width: 5vmin;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#project-container {
    background-image: linear-gradient(#3F733D, #2e532c);
    padding: 10vmin;
    width: 100%;
    margin-top: 3vmin;
    display: grid;
    grid-gap: 15px;
    grid-template-areas:
        "header header"
        "project1 project2"
        "project3 project4";
    gap: 5vmin;
    justify-content: center;
    align-content: center;
}

#project1 {
    grid-area: project1;
}

#project2 {
    grid-area: project2;
}

#project3 {
    grid-area: project3;
}

#project4 {
    grid-area: project4;
}

#project1,
#project2,
#project3,
#project4 {
    width: 75vmin;
    background-color: #401910;
    padding: 5vmin;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2vmin 2vmin 2vmin#0D0D0D;
}

#projects img {
    width: 50vmin;
    height: 40vmin;
    opacity: 1;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    box-shadow: 2vmin 2vmin 2vmin#0D0D0D;
} 

#contact {
    background-image: linear-gradient(#3F733D, #2e532c);
    padding: 3vmin;
    margin-top: 3vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#contact ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    list-style: none;
    margin-top: 0;
}

#contact li {
    margin: 1vmin 0;
    padding: 0;
}

#contact li a {
    text-decoration: none;
    color: #F2EFC2;
}

#contact img {
    width: 3vmin;
}

.image-link {
    color:#FAF0DF;
    text-decoration: none;
    background-color:#F2B950;
    padding: 5px;
    border-radius: 10px;
}

a:hover {
    color: #3F733D;
}

#contact li a:hover {
    color: #F2B950;
} 

#projects img:hover {
    opacity: 0.5;
}

.image-link:hover {
    background-color: rgb(145, 7, 7);
    color: #FAF0DF;
}

@media only screen and (max-width: 767px) {
    #projects {
        grid-template-areas:
            "header header"
            "project1 project1"
            "project2 project2"
            "project3 project3"
            "project4 project4";
    }
}