body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    background-color: #0D0D0D;
    color: #0D0D0D;
    font-family: 'Barlow Condensed', sans-serif;
} 

 nav {
    padding: 1vmin 0;
    margin: 0;
    width: 100%;
} 

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
  }

nav li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #F2EFC2;
    font-size: 3vmin;
  }

  header {
    padding: 2vmin;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vmin;
    color: #F2EFC2;
}

footer a {
    color: #F2EFC2;
}

h1 {
    font-size: 6vmin;
    color: #F2F0D5;
}

h2 {
    font-size: 4vmin;
    color: #F2EFC2;
}

h3 {
    font-size: 3vmin;
}

h4 {
    font-style: italic;
    font-size: 2.5vmin;
    color: #b6b492;
  }

p {
    font-size: 3vmin;
}

hr {
    border: 1px solid #0D0D0D;
}

#about {
    background-image: linear-gradient(#595846, #A6A486);
    padding: 10vmin;
    margin-top: 3vmin;
}

#about ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

#about li img {
    width: 5vmin;
}

#projects {
    background-image: linear-gradient(#A6A486, #595846);
    padding: 5vmin 10vmin;
    margin-top: 3vmin;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "header header"
    "project1 project2"
    "project3 project4";
}

#project1 {
    grid-area: project1;
}

#project2 {
    grid-area: project2;
}

#project3 {
    grid-area: project3;
}

#projects img {
    width: 50vmin;
    opacity: 1;
    transition: opacity 0.3s ease;
} 

#contact {
    background-image: linear-gradient(#595846, #A6A486);
    padding: 3vmin;
    margin-top: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#contact ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    list-style: none;
    margin-top: 0;
}

#contact li {
    margin: 1vmin 0;
    padding: 0;
}

#contact li a {
    text-decoration: none;
    color: #EEF26D;
}

#contact img {
    width: 3vmin;
}

a:hover {
    color: #595846;
}

#contact li a:hover {
    color: #595846;
} 

#projects img:hover {
    opacity: 0.5;
}

@media only screen
    and (min-device-width: 23.44em) 
    and (max-device-width: 50.75em) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
        #projects {
            display: flex;
            flex-direction: column;
    }
}